
.Rproj.user/588A2091/pcs/

.Rproj.user/588A2091/

.Rproj.user/shared/notebooks/4F1D4D71-get_RKI_data/1/588A20914B5C3982/

.Rproj.user/shared/notebooks/4F1D4D71-get_RKI_data/1/s/

.Rproj.user/shared/notebooks/

.Rproj.user
.Rhistory
.RData
.Ruserdata
